* {
  box-sizing: border-box;
}

.row {
    max-width: 1600px;
    padding-left: 100px;
    padding-right: 20px;
    margin: 0 auto;
}

.col-1,
.col-2 {
    float: left;
    padding-right: 2%;
}

.col-1 {
	width: 65%;
}

.col-2 {
    width: 30%;
}

.tab-col-1,
.tab-col-2,
.tab-col-3 {
	float: left;
	margin-right: 30px;
}

.invisible {
	color: #fff;
}

.education-col-1,
.contact-col-2 {
    float: left;
    width: 48%;
    padding-right: 30px; 
}

.education-col-1 {
    margin-right: 30px;
}
