img.center {
	width: 417px;
	position: absolute;
	margin-top: 60px;
	margin-left: 360px;
	
}

header {
	margin-top: 80px;
	margin-left: 130px;
}

p.name {
	font-family: 'Anton', sans-serif;
	font-size: 92px;
	margin-top: 0px;
	margin-bottom: 30px;
	line-height: 1;
	text-transform: uppercase;

}

p.title {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
}

section.content {
	margin-top: 150px;
}

h2 {
	font-family: 'Anton', sans-serif;
}

h4,
p.details {
	font-family: 'Montserrat', sans-serif;
}


