img.center {
	width: 417px;
	position: absolute;
	margin-top: 60px;
	margin-left: 360px;
	
}

a {
	color: #000;
}

header {
	margin-top: 80px;
	margin-left: 130px;
}

p.name {
	font-family: 'Anton', sans-serif;
	font-size: 92px;
	margin-top: 0px;
	margin-bottom: 30px;
	line-height: 1;
	text-transform: uppercase;

}

p.title {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
}

section.content {
	margin-top: 100px;
}

h2 {
	font-family: 'Anton', sans-serif;
}

h4 {
  text-transform: uppercase;
}

h4,
p.details {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

p.month {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-style: italic;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

input {
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  border: none;
  color: #000;
  background-color: #fff305;
  padding: 12px;
}

/* SLIDE_SHOW */
/* Position the image container (needed to position the left and right arrows) */
.display-container {
  position: relative;
}

/* Hide the images by default */
.mySlides1,
.mySlides2,
.mySlides3 {
  display: none;
  width: 100%;
}

.mySlides1 {
  height: 393px;
}

.mySlides2 {
  height: 445px;
}

.mySlides3 {
  height: 400px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  border: none;
  display: inline-block;
  padding: 8px 14px;
  font-size: 12px;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 30px;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  transition-duration: 0.3s;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #000;
  
}

/* Container for image text */
p#caption {
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  background-color: #FFF;
  margin-top: 40px;
  padding: 2px 16px;
  color: #000;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the tab */
.tabs {
  overflow: hidden;
  margin-top: 40px;
}

.tab-content {
  height: 150px;
  margin-bottom: 80px;
}

/* Style the buttons inside the tab */
button.sg-button,
button.eb-button,
button.m-button {
  float: left;
  font-family: 'Montserrat', sans-serif;
  border-radius: 30px;
  background-color: #000;
  color: #FFF;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  margin-left: 0px;
  margin-right: 10px;
  transition-duration: 0.3s;
  font-size: 14px;
}

/* Change background color of buttons on hover */
button:hover,
button:active {
  background-color: #FFF;
  color: #000;
  border-radius: 30px;
}

/* Style the tab content */
.spiritGuide,
.euroBus,
.menew {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 6px 12px 80px;
}